<div style="text-align:left">
	<span style="color:rgb(0,0,0);font-family:georgia,serif;font-size:large">Joon Park</span>
	<br>
</div>
<div style="text-align:left">
	<font face="georgia, serif" size="2">Programmer Consultant</font>
</div>
<div style="text-align:left">
	<font size="2">
		<a href="mailto:joon@eintern.com" style="font-family:georgia,serif" target="_blank">joon@eintern.com</a>
		<span style="font-family:georgia,serif">&nbsp; - &nbsp;</span>
		<span style="font-family:georgia,serif">
			<a href="tel:703-570-8176" value="+17035708176" target="_blank">703-570-8176</a>
		</span>
	</font>
</div>
<div style="text-align:left">
	<img border="0" width="200" height="64" 
		src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.3&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.1&amp;attbid=ANGjdJ8CoEwvBFTX8v-6-yMj_tWoFzedEzCOTf7AltoLb_rOiLIboVTqI415QubUXElc-0L1hyRHN8nvPGFGkW_CeM30BXFg5DvoGFjaSnqhPsGo6POay2DBADq3gng&amp;sz=w400-h128&amp;ats=1441052146968&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1"
		style="font-size:12.8000001907349px" class="CToWUd">
	<font size="2">
		<span style="font-family:georgia,serif">
			<br
		</span>
	</font>
</div>
<div style="text-align:left">
	<a href="https://goo.gl/maps/oU0Id" 
		style="font-family:Candara,sans-serif;text-align:center;font-size:x-small;color:rgb(17,85,204)"
		target="_blank">
		11730 Plaza America Drive #205, Reston, VA - 20190
	</a>
	<font size="2">
		<span style="font-family:georgia,serif">
			<br>
		</span>
	</font>
</div>
<div style="text-align:left">
	<img border="0" width="200" height="35" 
		src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.5&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.2&amp;attbid=ANGjdJ_rGvsv1Op3SyrO-ynjAkg0_qM3zEhigl7OEYVqkcLYg97whZJodTX8dvp-6LMSmXVjyi0ErHr7A4_u31hha1j2iE3m7FoOsyaxtPTwYEFFTDep3jugOAePa0E&amp;sz=w400-h70&amp;ats=1441052146969&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1"
		style="font-family:Candara,sans-serif;font-size:10.6666669845581px" class="CToWUd">
</div>
<div style="text-align:left">
	<a href="https://twitter.com/eInternJoon" target="_blank">
	<img border="0" width="38" height="38" 
		src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.8&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.7&amp;attbid=ANGjdJ-IK97U-TvdsI8FS8jI-pkteFUWRdXUWxkpLtqOpvRY-OVKeLzTRfOYic6RrLX6k_qHbjYg4oVtnHZVHKGL1azA7wzxq6DoFJidVfs991JqBrXSN15bMm7Z0_s&amp;sz=w76-h76&amp;ats=1441052146969&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1"
		style="font-size:12.8000001907349px" class="CToWUd">
	</a>
	<span style="font-size:8pt;text-align:center;color:windowtext;font-family:Candara,sans-serif;text-decoration:none">
		<a href="https://www.facebook.com/eintern.va" style="font-size:12.8000001907349px;text-align:center;color:rgb(17,85,204)" 
			target="_blank"><img border="0" width="38" height="38" src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.7&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.3&amp;attbid=ANGjdJ-zBP6m8Xq7vVaOtN3YhaKFSrTtzsOEOdWij34TOkooF35jwEwLYMNCkucft1IvKOUphIrwBd5m0a6eAASBSE4gkI33rdUk_eU1et7xkgyWY11mznmgoUeKgJA&amp;sz=w76-h76&amp;ats=1441052146969&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1" class="CToWUd"></a></span>
	<a href="https://www.youtube.com/channel/UCGBKIv2WIS2utCQwJFqYFAg/" target="_blank"><img border="0" width="38" height="38" src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.1&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.5&amp;attbid=ANGjdJ_bUTbyA1jucmwgKa1Opmt6DgODZKe5Bq9pX4wTqA_KXNukI5UmHDUkQI0njolVoLiSuG2a1hKHpuM46nEffObtZXlSKjsq41b66481h-GtxXydDs5qDaFRnVw&amp;sz=w76-h76&amp;ats=1441052146969&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1"
		style="font-size:12.8000001907349px" class="CToWUd"></a>
	<a href="https://www.linkedin.com/company/eintern" target="_blank"><img border="0" width="38" height="38" src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.4&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.6&amp;attbid=ANGjdJ8hArK5mhNS2NBCgSx2hTYgfeEx28qurPpDFPWcXW3KNOjfEKNurolykoLFakDh181k3rfIb52R47t3na5Nush5g44t8Q7Nf_k8MJ_nUJDXed3Nnog8CCvGeH0&amp;sz=w76-h76&amp;ats=1441052146969&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1"
		style="font-size:12.8000001907349px" class="CToWUd"></a><span style="font-size:8pt;font-family:Candara,sans-serif;color:blue;text-decoration:none"><a href="https://plus.google.com/+eInternLife" target="_blank"><img border="0" width="38" height="38" src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.2&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.4&amp;attbid=ANGjdJ-Qw6jXLRYMsreJS6oKXX1dKxqK6qi29IMZObXyhF9JtSPQ-LT2og77eUm9IWQfbkYmwOiY9OhXtZQ2mRvoUNgW7sspNgl6G3uhUzz6gOAu4yKVs1Q_HT2bUBY&amp;sz=w76-h76&amp;ats=1441052146970&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1" alt="" class="CToWUd"></a></span>
	<span style="font-size:12.8000001907349px;text-align:center;color:windowtext">
																					<a href="https://www.pinterest.com/einternGetHired/" style="color:rgb(17,85,204)" target="_blank"><img border="0" width="38" height="38" src="?ui=2&amp;ik=6319934515&amp;view=fimg&amp;th=14f6aa96d7278dad&amp;attid=0.6&amp;disp=emb&amp;realattid=fdc9031d9694e628_0.0.8&amp;attbid=ANGjdJ-eiHGBdP9d_htHLvhI4Bb24Hl_MJVRFPv2Y1qaseyjfBPDyeWxNDVG_5GDPjQ2gijwNW8rro-A0vfpPtwZIjGXMILUIqlFwr3tHht5DC65F9kKlKiURmJk5jY&amp;sz=w76-h76&amp;ats=1441052146970&amp;rm=14f6aa96d7278dad&amp;zw&amp;atsh=1"
																						class="CToWUd"></a>
																					</span>
</div>